<p-fieldset legend="Vote data" [toggleable]="true">
  <div class="flex flex-col gap-2 items-center">
    <p-button
      [label]="
        listening
          ? 'Press Ctl+V to paste'
          : this.pasteInvalid
          ? 'Invalid Data'
          : 'Paste'
      "
      (onClick)="listening = true"
      (onBlur)="listening = false"
      aria-describedby="vote-data-help"
      [styleClass]="this.pasteInvalid ? 'p-button-danger' : ''"
    >
      <ng-template pTemplate="icon">
        <fa-icon icon="paste"></fa-icon>
      </ng-template>
    </p-button>
    <br />
    <div class="inline-block">
      <p-button
        [label]="this.copied ? 'Copied!' : 'Copy'"
        [disabled]="settingService.rawVotes$.getValue() === null"
        (onClick)="copy()"
        aria-describedby="vote-data-help"
        styleClass="mr-3"
      >
        <ng-template pTemplate="icon">
          <fa-icon icon="copy"></fa-icon> </ng-template
      ></p-button>
      <p-button
        label="Clear"
        [disabled]="settingService.rawVotes$.getValue() === null"
        (onClick)="voteService.clear()"
        aria-describedby="vote-data-help"
        styleClass="p-button-danger"
      >
        <ng-template pTemplate="icon">
          <fa-icon icon="close"></fa-icon>
        </ng-template>
      </p-button>
    </div>
  </div>
  <small id="vote-data-help">
    To learn how to obtain this data from google sheets,
    <a
      tabindex="0"
      (click)="displayHelp = true"
      (keydown)="displayHelp = true"
      class="cursor-pointer text-blue-600 underline"
      >click here</a
    >
  </small>
  <p-divider />
  <p *ngIf="voteService.preprocessingData$ | async as data">
    {{ totalBallots$ | async }} ballots loaded.
    {{ erroredBallots$ | async }} errors
  </p>
  <p-table
    *ngIf="errorData$ | async as data"
    [value]="data"
    rowGroupMode="subheader"
    groupRowsBy="ballotIdx"
    dataKey="ballotIdx"
  >
    <ng-template pTemplate="groupheader" let-vote let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="vote"
            styleClass="p-button-text p-button-rounded p-button-plain mr-2"
          >
            <ng-template pTemplate="icon">
              <fa-icon
                [icon]="expanded ? 'chevron-down' : 'chevron-right'"
              ></fa-icon>
            </ng-template>
          </p-button>
        </td>
        <td class="text-red-600">
          {{ vote.ballot.parseError }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-vote>
      <tr>
        <td>
          {{ vote.idx }}
        </td>
        <td [class.text-red-600]="!vote.vote">
          {{ vote.vote ?? "Missing" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Help"
    [(visible)]="displayHelp"
    [resizable]="false"
    [modal]="true"
    [dismissableMask]="true"
    [draggable]="false"
  >
    <img
      class="h-auto w-[80vw]"
      ngSrc="assets/sheets.webp"
      alt="GIF detailing what data to copy"
      width="640"
      height="294"
    />
  </p-dialog>
</p-fieldset>
