header {
  display: block;
  width: 100%;
  background-color: var(--primary-color);

  font-size: 20pt;

  padding: 1rem;
}

.content {
  margin: 2rem auto 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
