/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
  margin: 0;
}

.p-timeline-horizontal .p-timeline-event-connector {
  width: unset !important;
}
.p-timeline-event {
  min-height: 2rem !important;
}
.p-timeline-event-opposite {
  flex-grow: 0 !important;
}
